html 
  height: 100%

body 
  margin: 0
  padding: 0
  // background: #000000 url('../img/loading.gif') center center no-repeat
  background: #000000
  color: #ffffff
  font-family: sans-serif
  font-size: 13px
  line-height: 20px
  height: 100%

h2
  margin:50px
  font-size:12px
  font-weight:normal
  line-height:40px
  color:#ffffff
  text-transform:uppercase
  border-bottom:1px solid rgba(51,51,51,51)

#globe 
  position:relative

  .controls 
    position: absolute
    bottom: 5px
    left: 0
    right: 0
    text-align: center

#loading 
  position: absolute
  top: 30px
  left: 20px
  font-size: 18px
  color: #ffffff



#filter 
  z-index: 999
  position: absolute
  top:100px
  left: 0
  width: 200px

  ul 
    list-style: none

    li
      cursor: pointer

      &:hover
        font-weight: bold

.counters
  margin:50px

  article 
    width: 30%
    margin:auto
    
    header
      border-bottom:1px solid;
      text-transform:uppercase
      line-height: 40px;
    
    .counter
      font-size: 40px;
      
    .body
      color:#A1A09D
      
    &.tokens 
      float:left
      
      header
        color:#82DA7D
        border-color:#82DA7D

    &.logins 
      
      header
        color:#C8D34D
        border-color:#C8D34D
      
    &.apps
      float:right
      
      header
        color:#80D3C9
        border-color:#80D3C9

.equalizer
  margin:0 50px
  
  .references
    text-align: center
    margin-bottom:15px
      
    span
      margin: 0 20px
      text-transform:uppercase
        
      &.signup
        color:#88DF82
      &.login
        color:#F4E73E
      &.reset-password
        color:#C449FB
      &.bloqued
        color:#DE4C4A
      
      &:before
        content: '\2588'
        padding-right:15px
        font-size: 7px
        vertical-align: top
  
  .content 
    position:relative

    .col
      position:absolute
      
      .detail
        bottom:0px
        height:50px
        position:absolute
        width:100%
        
        .icon
          width:50px
          height:50px
          margin:auto
          border-radius:25px
          background:#FFFEFF url('../img/browser/generic.png') center center no-repeat
          background-size:40px 40px
          

      .type
        position:absolute
        
        -webkit-transition:width 0.5s, height 0.5s, left 0.5s, top 0.5s
        transition:width 0.5s, height 0.5s, left 0.5s, top 0.5s
        
        &.signup
          background: transparent url('../img/bar_green.png') center bottom
          
        &.login
          background: transparent url('../img/bar_yellow.png') center bottom
          
        &.suspicious
          background: transparent url('../img/bar_red.png') center bottom
          
        &.resetPassword
          background: transparent url('../img/bar_purple.png') center bottom

        
.bubbles
  position:relative
  overflow:hidden
  
  .node
    -webkit-transition:width 0.25s, height 0.25s, left 0.25s, top 0.25s
    transition:width 0.25s, height 0.25s, left 0.25s, top 0.25s
    position:absolute
    border-radius:50%
    width:0
    height:0
    top: 50%
    left: 50%
        
    &.facebook
      background:#465F95
    &.googlePlus
      background:#BA4C3A
    &.wordpress
      background:#464646
    &.github
      background:#353535
    &.instagram
      background:#6081A1
    &.linkedin
      background:#487EB3
    &.twitter
      background:#60A0FC
    &.dropbox
      background:#609EE6
    &.tumblr
      background:#6086B4
    &.blogger
      background:#DF6019
    &.yahoo
      background:#5B216C
    &.soundcloud
      background:#E0631F
      
   