html 
  height: 100%;

body 
  margin: 0;
  padding: 0;
  background: #000000 url('img/loading.gif') center center no-repeat;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;


#globe 
  position:relative;

  .controls 
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
  
#container 
  background: #000000 url('img/stars.png');


#loading 
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 18px;
  color: #ffffff;



#filter 
  z-index: 999;
  position: absolute;
  top:100px;
  left: 0;
  width: 200px;

  ul 
    list-style: none;

    li
      cursor: pointer;

      &:hover
        font-weight: bold;


.counters article 
  width: 30%;
  margin:auto;

  &.tokens 
    float:left;

  &.logins 
    float:right;

.equalizer 
  svg 
    text
      fill:#FFFFFF;
      
      &.xaxis
        text-anchor:middle;
        font-size:12px;
        
        
    path.domain
      stroke:#FFFFFF;
      fill:none;
      stroke-width: 1px;
      
    #login-pattern path
      stroke:#F6EA3E;
      
    #signup-pattern path
      stroke:#86DD81;

    #resetPassword-pattern path
      stroke:#C54AFB;
      
    #suspicious-pattern path
      stroke:#DE4C4A;

    g.x.axis .item
      circle
        fill:#FFFEFF
        
.bubbles
  .node
    &.facebook
      fill:#465F95
    &.googlePlus
      fill:#BA4C3A
    &.wordpress
      fill:#464646
    &.github
      fill:#353535
    &.instagram
      fill:#6081A1
    &.linkedin
      fill:#487EB3
    &.twitter
      fill:#60A0FC
    &.dropbox
      fill:#609EE6
    &.tumblr
      fill:#6086B4
    &.blogger
      fill:#DF6019
    &.yahoo
      fill:#5B216C
    &.soundcloud
      fill:#E0631F
      
   